#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/cmake.mk

CC  = /usr/bin/cc
CXX = /usr/bin/g++

#DEB_DH_INSTALL_SOURCEDIR = debian/tmp
